.weather-status {
    text-align: center;
    padding: 0 0 10px 0;
}

.Forecast1Day {
    top: 50px;
    left: 50px;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 200px;
    border: 1px solid rgba(107, 107, 107, 0.582);
}

.weather-description {
    font-size: 20px;
    padding: 0 0 0 5px;
}

.degrees {
    font-size: 20px;
    color: rgba(107, 107, 107, 0.582);
}